<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.software.leanback" android:required="false"/>
    <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:networkSecurityConfig="@xml/network_security_config"
            android:requestLegacyExternalStorage="true"
            android:extractNativeLibs="true"
            tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".OnboardingActivity"
            android:exported="false"
            android:theme="@style/OnboardingTheme">
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_short_name"
            android:launchMode="singleTop"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
                android:name=".VirtualContentProvider"
                android:authorities="${applicationId}.vcp"
                android:exported="true"
                android:grantUriPermissions="true"
                android:permission="android.permission.MANAGE_DOCUMENTS">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/virtual_content_provider_paths"/>

            <intent-filter>
                <action android:name="android.content.action.DOCUMENTS_PROVIDER"/>
            </intent-filter>
        </provider>

        <service android:name=".Services.DownloadService" android:exported="false" android:foregroundServiceType="dataSync" />
        <service android:name=".Services.UploadService" android:exported="false" android:foregroundServiceType="dataSync" />
        <service android:name=".Services.StreamingService" android:exported="false" android:foregroundServiceType="mediaPlayback" />
        <service android:name=".Services.ThumbnailsLoadingService" android:exported="false" />
        <service android:name=".Services.DeleteService" android:exported="false" android:foregroundServiceType="dataSync" />
        <service android:name=".Services.MoveService" android:exported="false" android:foregroundServiceType="dataSync" />
        <service android:name=".Services.SyncService" android:exported="false" android:foregroundServiceType="dataSync" />
        <service
                android:name=".Services.RcdService"
                android:exported="false"
                android:foregroundServiceType="dataSync"/>
        <service
            android:name=".Services.ReportService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />

        <receiver android:name=".BroadcastReceivers.DownloadCancelAction" android:exported="false" />
        <receiver android:name=".BroadcastReceivers.UploadCancelAction" android:exported="false" />
        <receiver android:name=".BroadcastReceivers.ServeCancelAction" android:exported="false" />
        <receiver android:name=".BroadcastReceivers.DeleteCancelAction" android:exported="false" />
        <receiver android:name=".BroadcastReceivers.MoveCancelAction" android:exported="false" />
        <receiver android:name=".BroadcastReceivers.SyncCancelAction" android:exported="false" />
        <receiver android:name=".Services.RcdService$RcdServiceAction" android:exported="false" />
        <receiver android:name=".Services.ReportService$StopCollectionReceiver" android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

        <activity
            android:name=".AboutActivity"
            android:exported="false"
            android:label="@string/title_activity_about"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ChangelogActivity"
            android:exported="false"
            android:label="@string/title_activity_changelog"
            android:parentActivityName=".AboutActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ContributorActivity"
            android:exported="false"
            android:label="@string/title_activity_contributors"
            android:parentActivityName=".AboutActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AboutLibsActivity"
            android:exported="false"
            android:label="@string/credits_libraries"
            android:parentActivityName=".AboutActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
                android:name=".Settings.SettingsActivity"
                android:label="@string/title_activity_settings"
                android:theme="@style/AppTheme.NoActionBar"
                tools:ignore="InnerclassSeparator"
                android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.APPLICATION_PREFERENCES" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SharingActivity"
            android:label="@string/app_name"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="video/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="video/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FilePicker"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RemoteConfig.RemoteConfig"
            android:exported="false"
            android:label="@string/title_activity_remote_config"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>

</manifest>